<!-- home.html -->
{% extends 'base.html' %}
{% load media_filters %}

{% block content %}
<style>
    .product-card {
        height: 780px;
    }

    .product-img {
        width: 100%;
        height: auto;
    }
</style>

<div class="row mb-4">
    <div class="col text-center">
        <a href="{% url 'catalog:product_add' %}" class="btn btn-lg btn-success">Добавить товар</a>
    </div>
</div>

<div class="row text-center">
    {% if user.is_authenticated and not can_edit_or_delete %}
    {% endif %}
    
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card product-card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
                <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start">
                    <li>{{ product.description|slice:":100" }}</li>
                </ul>
                {% for key, active_version in active_versions.items %}
                    {% if key == product.id %}
                        <p>Active Version: {{ active_version.version_number }} - {{ active_version.version_name }}</p>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-primary mb-2">Подробнее</a>
                {% if can_edit_or_delete or product.owner == user %}
                    <a href="{% url 'catalog:product_edit' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-warning mb-2 mr-2">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-danger mb-2">Удалить</a>
                {% else %}
                    <span class="btn btn-lg btn-block btn-outline-warning mb-2 mr-2 disabled">Редактировать</span>
                    <span class="btn btn-lg btn-block btn-outline-danger mb-2 disabled">Удалить</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
