{% extends 'base.html' %}
{% load media_filters %}

{% block content %}
<style>
    .product-card {
        height: 630px;  /* Фиксированная высота карточки */
    }

    .product-img {
        width: 100%;  /* Ширина изображения займет всю ширину родительского элемента */
        height: auto;  /* Высота будет автоматически рассчитана для сохранения пропорций */
    }
</style>

<div class="row mb-4">
    <div class="col text-center">
        <a href="{% url 'blog:blog_list' %}" class="btn btn-lg btn-primary">Перейти к блогам</a>
    </div>
</div>

<div class="row text-center">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card product-card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
                <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start">
                    <li>{{ product.description|slice:":100" }}</li>
                </ul>
                <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}